html {
  margin: 0;
  padding: 0;

  body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;

    header,
    footer {
      top: 0;
      display: inherit;
      width: 100%;
      background-color: #333;
      color: #fff;
      position: fixed;

      nav {
        display: inherit;
        width: 100%;

        a {
          color: #fff;
          text-decoration: none;
        }

        #logo {
          width: 152px;
          padding-left: 1%;
        }

        ul {
          width: 50%;
          display: inherit;
          flex-direction: row;
          justify-content: space-evenly;
          align-items: center;
        }
      }
    }

    h2,
    h3 {
      font-weight: normal;
    }

    ul {
      list-style-type: none;
    }

    main {
      width: 90%;
      display: grid;
      grid-template-columns: repeat(auto-fit, 20%);
      justify-content: center;

      section {
        margin: 0 auto;
        gap: 1em;
      }
    }

    footer {
      bottom: 0;

      #footer {
        width: 100%;
      }
    }
  }
}

.overlay {
  position: fixed; // Positionnement et taille
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5); // Assombrissement du pourtour

  transition: all .3s ease-in-out; // Animation
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%; // Positionnement et taille

  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .1); // Style de la boîte

  h2 {
    margin-bottom: 20px;
  }

  // Style du titre

  iframe {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
  }

  // Style de l'iframe
}